input#fileIn {
  background-color: #a30e22;
}

#fileUpload {
  padding-bottom: 10px;
}


body{
  position: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

html{
  position: fixed;
  height: auto;
  width: auto;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  background-color: #a30e22;
  height: 100%;
  color: #44dfed;
  overflow: hidden;
}

html::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #a30e22 !important;
}

p{
    font-size: 18px;
    margin: 0;
}

h1{
  margin: 10px;
}

nav{
  background-color: #fff;
  height: 40px;
  color: #a30e22;
  vertical-align: middle;
}

.shadow{
  -webkit-box-shadow: 0px 2px 2px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0px 2px rgba(0,0,0,.2);
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,.2);
  position: relative;
  z-index: 1;
}

.brand{
  font-size: 18px;
  margin: 0;
  padding-left: 100px;
  position: absolute;
  height: 50px;
  padding-top: 10px;
  text-decoration: none;
}

.brand:visited{
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
  outline: none;
  color: #a30e22;
}

.navElement{
  font-size: 18px;
  position: absolute;
  right: 100px;
  top: 10px;
  color: #a30e22;
  outline: none;
  text-decoration: none;
}

.navElement:visited{
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
  outline: none;
  color: #a30e22;
}

.title{
  vertical-align: middle;
  font-size: 32px;
  margin: 0;
}

.full{
  height: 100%;
  height: -webkit-calc(100% - 40px);
  height: -moz-calc(100% - 40px);
  height: calc(100% - 40px);
  width: 100%;
  background-color: #a30e22;
  color: #fff;
  text-align: center;
  overflow: auto;
}

h1{
  font-size: 38px;
  padding-left: 10px;
  display: inline;
}

div{
  height: 100%;
}

.content{
  display: inline-table;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  padding-left: 25%;
}

.navLink{
  display: inline;
  margin-left: 0px;
}

.link{
    border: none;
    font-size: 17px;
    color: #a30e22;
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;
    background-color: #FFF;
}

.link:hover{
  cursor: pointer;
}

.link:focus{
    border: none;
    font-size: 17px;
    color: #a30e22;
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;
    outline: none;
}

.loginPane{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  height: 100%;
  margin: auto;
}

.loginContainer{
  height: 350px;
  background-color: #fff;
  border-radius: 7px;
  text-align: left;
  -webkit-box-shadow: -1px -6px 23px 19px rgba(0,0,0,0.08);
  -moz-box-shadow: -1px -6px 23px 19px rgba(0,0,0,0.08);
  box-shadow: -1px -6px 23px 19px rgba(0,0,0,0.08);
  width: 100%;
}

.image{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  padding-left: 20%;
  background-image: url("../resources/laptop2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 350px;
}

.inputText{
    color: #a30e22;
    border: none;
    border-bottom: 1px solid #a30e22;
    padding-top: 20px;
    display: block;
    width: 55%;
    height: 28px;
    margin: auto;
    font-size: 18px;
}

.inputText:focus{
    outline: none;
    border-bottom: 2px solid #a30e22;
}

.inputTextS{
    color: #a30e22;
    border: none;
    border-bottom: 1px solid #a30e22;
    padding-top: 15px;
    display: block;
    width: 55%;
    height: 32px;
    margin: auto;
    font-size: 18px;
}

.inputTextS:focus{
    outline: none;
    border-bottom: 2px solid #a30e22;
}

.tab{
  width: 50%;
  height: 50px;
  display: inline-block;
  background-color: #af0e23;
  color: #fff;
  border: none;
  font-size: 24px;
  outline: none;
  margin-bottom: 0px;
}

::placeholder{
  color: rgba(163, 14, 34, .8);
}

.r{
  background-color: #fff;
  color: #a30e22;
}

.left{
  border-top-left-radius: 7px;
}

.right{
  border-top-right-radius: 7px;
}

.panes{
  align-items: center;
  margin: auto;
  text-align: center;
}

.button{
  font-size: 18px;
  border-radius: 24px;
  background-color: #a30e22;
  color: #fff;
  width: 60%;
  height: 48px;
  margin-top: 32px;
  margin-bottom: 25px;
}

.class{
  color: #fff;
  text-align: left;
  margin-left: 0px;
}

.white{
    border-color: #fff;
    width: 49%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.file{
  border: 1px solid #fff;
  font-size: 28px;
}

.button:focus{
  outline: none;
}

.buttonS{
  font-size: 18px;
  border-radius: 24px;
  background-color: #a30e22;
  color: #fff;
  width: 60%;
  height: 48px;
  margin-top: 15px;
}

.buttonS:focus{
  outline: none;
}

.assignment{
    width: 50%;
    height: 80px;
    background-color: #fff;
    margin: auto;
    padding-top: 25px;
    margin-bottom: 25px;
    -webkit-box-shadow: -1px 6px 23px 19px rgba(0,0,0,0.1);
    -moz-box-shadow: -1px 6px 23px 19px rgba(0,0,0,0.1);
    box-shadow: -1px 6px 23px 19px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: left;
    padding-top: 5px;
}
.assignment:hover{
  cursor: pointer;
}

.center{
  text-align: center;
}

.p{
  margin-top: 10px;
  line-height: 74px;
}

.inverse{
  color: #fff;
}

h1.red{
  color: #a30e22;
  font-size: 28px;
}

#username1{
  margin-top: 45px;
}

#username2{
  padding-top: 10px;
}

hr{
    width: 95%;
    border: 1px solid #a30e22;
    border-top: 0px;
    margin-bottom: 2px;
    margin-top: 5px;
}

.description{
  height: 7px;
}

p{
  font-size: 18px;
  padding-top: 0px;
  margin-left: 20px;
  display: inline;
  color: #595959;
}

.progress{
  float: right;
  padding-right: 20px;
}

.submitted{
  color: #29b24a;
}

.notStarted{
  color: #a3a3a3;
}

.incomplete{

}

.navTabs{
  position: absolute;
  right: 100px;
  top: 10px;
}

.spacer{
  height: 25px;
}

.assignmentDesc{
  width: 50%;
  height: 250px;
  background-color: #fff;
  margin: auto;
  -webkit-box-shadow: -1px 6px 23px 19px rgba(0,0,0,0.1);
  -moz-box-shadow: -1px 6px 23px 19px rgba(0,0,0,0.1);
  box-shadow: -1px 6px 23px 19px rgba(0,0,0,0.1);
  border-radius: 10px;
  text-align: left;
  margin-bottom: 25px;
  padding-top: 5px;
}

.projectDesc{
    display: inline-block;
    padding-bottom: 5px;
    margin-left: 0px;
    width: 50%;
    color: #a30e22;
}

.padDesc{
  padding-left: 20px;
  padding-right: 20px;
}

.onoffswitch {
    position: relative; width: 107px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin: auto;
    margin-top: 12px;
    margin-bottom: -5px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999; border-radius: 18px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin .7s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Student";
    padding-right: 7px;
    background-color: #A30E22; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Professor";
    padding-right: 10px;
    background-color: #A30E22; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch{
    display: block; width: 13px; margin: 4px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 84px;
    border: 1px solid #999999; border-radius: 18px;
    transition: all .7s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.back{
    position: absolute;
    top: 65px;
    left: 100px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    font-family: inherit;
}

.back:hover{
  cursor: pointer;
}

.back:focus{
  outline: none;
}

.classRegister{
  height: 50px;
  width: 30%;
  margin-right: 35%;
  margin-left: 35%;
  margin-top: calc(50vh - 84px);
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 36px;
  border-bottom: 1px solid #fff;
  outline: none;
}

.classRegister::placeholder{
  color: rgba(255, 255, 255, .7);
}

.classRegister:-webkit-autofill,
.classRegister:-webkit-autofill:hover,
.classRegister:-webkit-autofill:focus,
.classRegister:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #a30e22 inset !important;
    -webkit-text-fill-color: #fff !important;
}

.buttonCreate{
  width: 20%;
  margin-right: 40%;
  margin-left: 40%;
  margin-top: 25px;
  font-size: 36px;
  height: 50px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  color: #A30E22;
}

.create{
  position: absolute;
  bottom: 40px;
  right: 60px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  font-family: inherit;
  cursor: pointer;
}

.create:focus{
  outline: none;
}

.assignmentCreate{
  background-color: #fff;
  margin: auto;
  width: 500px;
  height: 350px;
  margin-top: calc(50vh - 198px);
  border-radius: 7px;
}

.input{
  width: 10px;
  height: 5px;
}

input:focus{
  outline: none;
}

.error{
  color: #A30E22;
  margin-top: 10px;
  margin-left: 0px;
}

.assignInput{
  display: block;
  border: none;
  border-bottom: 1px solid #A30E22;
  width: 300px;
  margin: auto;
  font-size: 24px;
  padding-top: 10px;
  color: #A30E22;
  opacity: 1;
  font-family: inherit;
}

.assignInput::placeholder{
  color: #A30E22;
}
.assignInput:focus{
  outline: none;
}

.dropdown{
    width: 309px;
    margin-left: 92px;
    height: 36px;
    margin-top: 5px;
    font-size: 24px;
    color: #A30E22;
    border: none;
    background-color: #fff;
    text-align: left;
    font-family: inherit;
}

.dropdown:focus{
  outline: none;
}

.assign{
  font-size: 24px;
  width: 230px;
  margin-left: 135px;
  text-align: left;
  margin-top: -5px;
  font-family: inherit;
  height: 48px;
  background: #a30e22;
  color: white;
  padding-left: 10px;
}

.assign:hover {
  cursor: pointer;
}

.assign:focus{
  outline: none;
}

.fileDesc{
  padding-left: 97px;
  margin-left: 0px;
  font-size: 24px;
  padding-top: 8px;
  padding-right: 5px;
  color: #A30E22;
  width: 140px;
}

.fileDescS{
  padding-left: 110px;
  margin-left: 0px;
  font-size: 22px;
  padding-top: 8px;
  padding-right: 5px;
  color: #A30E22;
  width: 134px;
}

.fileInput1{
  color: #a30e22;
  position: relative;
  bottom: 4px;
  font-family: inherit;
}


.fileInput2{
  padding-left: 87px;
  color: #A30E22;
  font-family: inherit;
}


.fileInput3{
  padding-left: 64px;
  color: #A30E22;
  font-family: inherit;
}

.classCode{
    position: absolute;
    bottom: 40px;
    left: 60px;
    padding: 0px;
    margin: 0px;
    color: #fff;
    font-size: 24px;
}

.results{
  border-collapse: collapse;
  width: 500px;
  text-align: left;
  background-color: #fff;
  color: #A30E22;
  font-size: 24px;
  border-radius: 7px;
  margin: auto;
}

tr{
  border-bottom: 1px solid #A30E22;
}

.centerH{
  text-align: center;
  padding-left: 30%;
}

td,th{
  width: 50%;
  padding-left: 20px;
}

.score{
  text-align: right;
  padding-right: 20px;
}

@media screen and (max-width: 699px) {
  .text{
    width: 50%;
    padding-left: 25%;
  }

  .image{
    width: 100%;
    margin-left: 0%;
    padding-left: 0px;
    background-image: url("../resources/laptop2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 350px;
  }
  .content{
    display: inline-block;
    width: 100%;
  }
}


@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}
