{% extends 'base.html' %}

{% block body %}
  <nav class="shadow">
    <a class="brand" href="/">>_ AutoGrader</a>
    <div class="navTabs">
      <form class="navLink" action="/dashboard" method="post">
        <button type="submit" class="link">My Classes</button>
      </form>
      <p class="navLink"> | </p>
      <form class="navLink" action="/addAClass" method="post">
        <button type="submit" class="link">Add a Class</button>
      </form>
      <p class="navLink"> | </p>
      <form class="navLink" action="/signout" method="post">
        <button type="submit" class="link">Sign Out</button>
      </form>
    </div>
  </nav>
  <div class="full">
    <div class="spacer"></div>
    <div class="assignmentDesc">
      <h1 class="red">Assignment 3</h1>
      <hr></hr>
      <div class="description"></div>
      <div class="padDesc">
        <p class="projectDesc">Due Date:</p><p class="projectDesc">Apr 24, 2019 11:55 pm</p>
        <p class="projectDesc">Number of resubmissions allowed</p><p class="projectDesc">Unlimited</p>
        <p class="projectDesc">Grade Scale	Points</p><p class="projectDesc">(max 100.00)</p>
      </div>
    </div>
  </div>
{% endblock %}
