{% extends 'base.html' %}

{% block body %}
  <nav class="shadow">
    <a class="brand" href="/">>_ AutoGrader</a>
    <div class="navTabs">
      <form class="navLink" action="/dashboard" method="post">
        <button type="submit" class="link">My Classes</button>
      </form>
      <p class="navLink"> | </p>
      <form class="navLink" action="/addAClass" method="post">
        <button type="submit" class="link">Add a Class</button>
      </form>
      <p class="navLink"> | </p>
      <form class="navLink" action="/signout" method="post">
        <button type="submit" class="link">Sign Out</button>
      </form>
    </div>
  </nav>
  <div class="full">
    <div class="spacer"></div>
    <div class="assignmentDesc">
      <h1 class="red">Assignment 3</h1>
      <hr></hr>
      <div class="description"></div>
      <div class="padDesc">
        <p class="projectDesc">Due Date:</p><p class="projectDesc">Apr 18, 2019 11:55 pm</p>
        <p class="projectDesc">Number of resubmissions allowed</p><p class="projectDesc">Unlimited</p>
        <p class="projectDesc">Grade Scale	Points</p><p class="projectDesc">{{score}} (max {{total}})</p>
        <p class="projectDesc">Status</p>
        {% if status is eq 'uploaded' %}
        <p class="projectDesc" style="display: inline">Submitted!</p>
        {% else %}
        <p class="projectDesc" style="display: inline">Not Started</p>
        {% endif %}

        {% if (status != "uploaded") %}
          <form id="fileUpload" action="upload" method=post enctype=multipart/form-data>
            <p><input type=file name=file>
                <input type=submit value=Upload>
          </form>
        {% endif %}
        
        {% if status is eq 'noFile' %}
            <p class="error">Please select a file to upload</p>
        {% endif %}
        

      </div>
    </div>
  </div>
{% endblock %}
