{% extends 'base.html' %}

{% block body %}
  <nav class="shadow">
    <a class="brand" href="/">>_ AutoGrader</a>
    <div class="navTabs">
      <form class="navLink" action="/dashboard" method="post">
        <button type="submit" class="link">My Classes</button>
      </form>
      <p class="navLink"> | </p>
      <form class="navLink" action="/addAClass" method="post">
        <button type="submit" class="link">Add a Class</button>
      </form>
      <p class="navLink"> | </p>
      <form class="navLink" action="/signout" method="post">
        <button type="submit" class="link">Sign Out</button>
      </form>
    </div>
  </nav>
  <div class="full">
    <form action="\class" method="post">
      <input class="back" type="submit" value="< Back">
      <input type="hidden" value="{{classInfo}}" name="class">
    </form>
    <div class="spacer"></div>
    <div class="assignmentDesc">
      <h1 class="red">{{assignment.name}}</h1>
      <hr></hr>
      <div class="description"></div>
      <div class="padDesc">
        <p class="projectDesc">Due Date:</p><p class="projectDesc">{{assignment.dueDate}}</p>
        <p class="projectDesc">Grade Scale	Points</p><p class="projectDesc">{{score}} (max {{assignment.total}})</p>
        <p class="projectDesc">Status</p>
          {% if status is eq 'uploaded' %}
            <p class="projectDesc" style="display: inline">Submitted!</p>
          {% else %}
            <p class="projectDesc" style="display: inline">Not Started</p>
          {% endif %}

          
            <form id="fileUpload" action="upload" method=post enctype=multipart/form-data>
              {% if (status != "uploaded") %}
              <p><input type=file name=file>
                <input type=submit value=Upload>
              {% endif %}
                <input type=hidden value="{{assignId}}" name="assignId">
                <input type=hidden value="{{assignment}}" name="assignment">
                <input type="hidden" value="{{classInfo}}" name="class">
            </form>
          

          {% if status is eq 'noFile' %}
            <p class="error">Please select a file to upload</p>
          {% endif %}

      </div>
    </div>
  </div>
{% endblock %}
