{% extends 'base.html' %}

{% block body %}
  <nav class="shadow">
    <a class="brand">>_ AutoGrader</a>
    <div class="navTabs">
      <form class="navLink" action="/dashboard" method="post">
        <button type="submit" class="link">My Classes</button>
      </form>
      <p class="navLink"> | </p>
      <form class="navLink" action="/addAClass" method="post">
        <button type="submit" class="link">Add a Class</button>
      </form>
      <p class="navLink"> | </p>
      <form class="navLink" action="/signout" method="post">
        <button type="submit" class="link">Sign Out</button>
      </form>
    </div>
  </nav>
  <div class="full">
    <div class="spacer"></div>
    <h1 class="class">{{classInfo.name}}</h1>
    <hr class="white"></hr>
    {% for assignment in assignments -%}
    <form id="{{assignment._id}}" method="post" action="\assignment">
      <input type="hidden" value="{{assignment._id}}" name="assignment"></input>
      <input type="hidden" value="{{classInfo._id}}" name="class"></input>
    </form>
    <div class="assignment" onclick="document.getElementById('{{assignment._id}}').submit();">
      <h1 class="red">{{assignment.name}}</h1>
      <hr></hr>
      <div class="description"></div>
      <p>Due Date: {{assignment.dueDate}}</p>
    </div>
    {%- endfor %}
  </div>
{% endblock %}
