{% extends 'base.html' %}

{% block body %}
  <nav class="shadow">
    <a class="brand">>_ AutoGrader</a>
    <div class="navTabs">
      <form class="navLink" action="/dashboard" method="post">
        <button type="submit" class="link">My Classes</button>
      </form>
      <p class="navLink"> | </p>
      <form class="navLink" action="/create" method="post">
        <button type="submit" class="link">Create a Class</button>
      </form>
      <p class="navLink"> | </p>
      <form class="navLink" action="/signout" method="post">
        <button type="submit" class="link">Sign Out</button>
      </form>
    </div>
  </nav>
  <div>
    <form action="\class" method="post">
      <input class="back" type="submit" value="< Back">
      <input type="hidden" value="{{id}}" name="class">
    </form>
    <form class="assignmentCreate" enctype="multipart/form-data" action="\createAssignmentSubmit" method="post">
        <input type="hidden" value="{{id}}" name="class"></input>
        <input class="assignInput" type="text" name="name" placeholder="Assignment Name"></input>
        <input class="assignInput" type="text" name="dueDate" placeholder="Due Date (MM/DD/YYYY)"></input>
        <select class="dropdown" name="language">
          <option value="c">C</option>
          <option value="hs">Haskell</option>
          <option value="java">Java</option>
          <option value="py">Python</option>
        </select>
        <select class="dropdown" name="runType">
         <option value="CL">Command Line</option>
         <option value="UI">User Input</option>
        </select>
        <div style="height: 40px">
           <p class="fileDesc">Description</p><input style="left: 20px" class="fileInput1" type=file name="descFile">
        </div>
        <div style="height: 40px">
            <p class="fileDescS">Tests</p><input style="left: 83px" class="fileInput1" value="Choose files" type=file name="testFiles" multiple>
         </div>
         <div style="height: 40px;margin-bottom: 10px;">
            <p class="fileDescS">Results</p><input style="left: 60px" class="fileInput1" value="Choose Files" type=file name="resultFiles" multiple>
         </div>
         <input id="createAssign" class="buttonCreate assign" type="submit" value="Create Assignment"></input>
      </form>
  </div>

{% endblock %}
