{% extends 'base.html' %}

{% block body %}
  <nav class="shadow">
    <a class="brand" href="/">>_ AutoGrader</a>
    <div class="navTabs">
      <form class="navLink" action="/dashboard" method="post">
        <button type="submit" class="link">My Classes</button>
      </form>
      <p class="navLink"> | </p>
      <form class="navLink" action="/addAClass" method="post">
        <button type="submit" class="link">Add a Class</button>
      </form>
      <p class="navLink"> | </p>
      <form class="navLink" action="/signout" method="post">
        <button type="submit" class="link">Sign Out</button>
      </form>
    </div>
  </nav>
  <div class="full">
    <div class="spacer"></div>
    <form id="assignment 3" method="post" action="\assignment">
      <input type="hidden"></input>
    </form>
    <div class="assignment" onclick="document.getElementById('assignment 3').submit();">
      <h1 class="red">Assignment 3</h1>
      <hr></hr>
      <div class="description"></div>
      <p>Due Date: 4/18</p>
      <p class="progress notStarted">Not Started</p>
    </div>
    <form id="assignment 3" method="post" action="\assignment">
      <input type="hidden"></input>
    </form>
    <div class="assignment" onclick="document.getElementById('assignment 3').submit();">
      <h1 class="red">Assignment 2</h1>
      <hr></hr>
      <div class="description"></div>
      <p>Due Date: 3/24</p>
      <p class="progress submitted">Submitted</p>
    </div>
    <form id="assignment 3" method="post" action="\assignment">
      <input type="hidden"></input>
    </form>
    <div class="assignment" onclick="document.getElementById('assignment 3').submit();">
      <h1 class="red">Assignment 1</h1>
      <hr></hr>
      <div class="description"></div>
      <p>Due Date: 3/10</p>
      <p class="progress submitted">Submitted</p>
    </div>
  </div>
{% endblock %}
