{% extends 'base.html' %}


{% block body %}
  <nav>
    <p class="brand">>_ AutoGrader</p>
    <a class="navElement">Log In | Sign Up</a>
  </nav>
  <div class="full">
    <div class="content">
      <div class="text">
        <h1>Make Grading Easier</h1>
        <p>Our platform gets rid of the need for you to compile, run, and test hundreds of assignments manually.</p>
      </div>
    </div><div class="content">
      <div class="text">
        <form action="login" method="post">
        </form>
        <h1>Login</h1>
      </div>
    </div>
  </div>
{% endblock %}
