{% extends 'base.html' %}


{% block body %}
  <nav class="shadow">
    <p class="brand">>_ AutoGrader</p>
    <a class="navElement" href="/login">Log In | Sign Up</a>
  </nav>
  <div class="full">
    <div class="content">
      <div class="text">
        <h1>Make Grading Easier</h1>
        <p>Our platform gets rid of the need for you to compile, run, and test hundreds of assignments manually.</p>
      </div>
    </div><div class="content">
      <div class="image">
      </div>
    </div>
  </div>
{% endblock %}
